:80 {
    handle /jenkins/* {
        reverse_proxy jenkins:8080
    }

    handle /gitea/* {
        uri strip_prefix /gitea
        reverse_proxy gitea:3000
    }

    handle /uptime/* {
        reverse_proxy uptime-kuma:3001
    }

    handle /portainer/* {
        uri strip_prefix /portainer
        reverse_proxy https://portainer:9443 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }
    handle /pihole* {
    	redir /admin/ permanent
    }
    handle /admin/* {
    	reverse_proxy pihole:80
    }
    handle /jellyfin/* {
    	uri strip_prefix /jellyfin
    	reverse_proxy jellyfin:8096
    }
    handle {
        respond "Homelab reverse proxy is running"
    }
}
